body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    overflow: hidden; 
}

.app-container {
    display: flex;
    height: calc(100vh - 80px);
    width: 100%;
}

#main-content {
    flex: 1;
    overflow-y: auto;
}
#sidebar {
    width: 45%; 
    min-width: 20%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

#resizer {
    width: 10px;
    cursor: col-resize;
    background: #dddddd;
    z-index: 10;
}

#text-container {
    line-height: 1.8;
    white-space: pre-wrap; 
}

.word { 
    cursor: pointer; 
}
.word:hover { 
    background: #eee8d5; 
    color: #268bd2; 
}

iframe { 
    flex: 1; 
    border: none; 
    width: 100%; 
}
.dragging iframe { 
    pointer-events: none; 
}